/* */
* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #333333;
}

body {
	background-color: powderblue;
	text-align: center;
}


.nav navbar-default{
    background-color: orangered;
	text-align: center;

}/* */
* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #333333;
}

body {
	background-color: powderblue;
	text-align: center;
}

.navbar {min-height: 100px !important;}

.navbar-nav > li > a {
	padding-top: 45px !important;
	font-size: 20px !important;
}

#auth_code_img {
	width: 500px;
	float: left;
	padding-top: 100px;
}
#auth_code_con {
	width: 600px;
	float: right;
	padding-top: 100px;
}

#insert_code_img {
	width: 400px;
	float: left;
	padding-top: 100px;
}
#insert_code_con {
	float: right;
	padding-top: 100px;
}


#fileupload_check{
	width: 600px;
	float: right;
}

#check_code_img {
	width: 400px;
	float: left;
	padding-top: 100px;
}
#check_code_con {
	float: right;
	padding-top: 100px;
}


#check_pay_img {
	width: 400px;
	float: left;
	padding-top: 100px;
}
#check_pay_con {
	width: 700px;
	float: right;
	padding-top: 100px;
}

